<!DOCTYPE html>
<html
  lang="en"
  xmlns:th="http://www.thymeleaf.org"
  th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
<head>
  <!-- Title Fragment -->
  <th:block th:fragment="title">
    <title>
      Add Contact
    </title>
  </th:block>
</head>
<body>

  <div id="content">

    <!--  user is logged in : sidebar -->
      <div th:if="${loggedInUser}">
        <div th:replace="~{user/sidebar::sidebar}"></div>
      </div>


  <!-- Main Content -->
    <div class="sm:pl-64 pt-20" style="height: 1000px">
  <div class="grid grid-cols-12">
    <div class="col-span-3 "></div>
    <div class="col-span-12 md:col-span-6 border">
      <div class="card block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700">
        <h1 class="text-2xl font-bold">Add Contact</h1>
        <p class="text-gray-400">this contact will be saved in cloud, you can direct email to this contact from SCM.</p>
      </div>
    </div>
  </div>
</div>

  <!-- Script Fragment -->
  <th:block th:fragment="script">
    <script>
      console.log("this is profile page");
    </script>
  </th:block>
</body>
</html>
