<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: parent(~{::section}, ~{::title}, ~{::script})}">

<head>
    <title>Profile Page</title>
</head>

<body>
    <section>
        <div class="p-4">
            <h1 class="text-2xl font-bold mb-2">Welcome, <span th:text="${loggedInUser.name}">User</span>!</h1>
            <p>Email: <span th:text="${loggedInUser.email}">email@example.com</span></p>
        </div>
    </section>

    <script>
        console.log("Profile page loaded");
    </script>
</body>
</html>
