<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <div
    th:replace="~{base :: parent(~{::section}, ~{::title}, ~{::script})}"
  ></div>

  <th:block th:fragment="title">
    <title>Profile Page</title>
  </th:block>

  <th:block th:fragment="section">
    <section>
      <div class="p-4">
        <h1 class="text-2xl font-bold mb-2">
          Welcome, <span th:text="${loggedInUser.name}">User</span>!
        </h1>
        <p>Email: <span th:text="${loggedInUser.email}">email@example.com</span></p>
      </div>
    </section>
  </th:block>

  <th:block th:fragment="script">
    <script>
      console.log("Profile page loaded");
    </script>
  </th:block>
</html>
