<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{base :: parent(~{::#content}, ~{::title}, ~{::script})}">
  <head>
    <title th:text="${loggedInUser.name} + ' | SCM'">Profile Page</title>
  </head>
  <body>
    <div id="content">
      <h1>Welcome to Profile page</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur,
        ratione!
      </p>
    </div>

    <script>
      console.log("this is profile page");
    </script>
  </body>
</html>
