<!DOCTYPE html>
<html
  lang="en"
  th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}"
>
  <head>
    <title>register Page</title>
  </head>
  <body>
    <div id="content">
      <div class="grid grid-cols-12">
        <div class="grid grid-cols-12 mt-4">
          <div class="col-span-4 md:col-span-2 lg:col-span-3 xl:col-span-4"></div>
          <div class="col-span-12 md:col-span-8 lg:col-span-6 xl:col-span-4">
          <!-- 6 ki space le rhi hai -->
           <!-- card -->
           <div 
             class="block p-6 bg-white border border-gray-200 rounded-lg shadow-sm hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700"    
           >  
            <h5 
              class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"
            >   
              Signup here
            </h5>
            <p class="font-normal text-gray-700 dark:text-gray-400">
              Here are the biggest enterprise technology acquisitions of 2021 so far, 
              in reverse chronological order.
            </p>
          </div>
        </div>
      </div>
    </div>
    <script>
      console.log("register page");
    </script>
  </body>
</html>